/* ****Reset styles**** */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* =====Page Header styles===== */
.page-header {
    margin: auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu {
    display: none;
}

.text-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.address {
    font-style: normal;
    display: none;
}

.burger-btn {
    border: none;
    line-height: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
    }

    .page-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .burger-btn {
        display: none;
    }

    .page-header-container {
        height: 72px;
    }

    .page-logo {
        margin-right: 120px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link-current {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link-current::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
        border: none;

    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 1158px) {
    .page-logo {
        margin-right: 76px;
    }

    .page-address {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* =====Page Header styles===== */

/* =====Section 1 styles===== */
.section {
    padding: 96px 0;
    margin: 0 auto;
}

.top-section {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
}

.top-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    max-width: 216px;
    margin: 0 auto 72px;
}

.button-text {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    border: none;
    margin: 0 auto;
    white-space: nowrap;
    border-radius: 4px;
    max-width: 169px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .top-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero/people-office.jpg");
        padding: 112px 0;
        max-width: 768px;
    }

    .top-text {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }

    .top-section {
        padding: 188px 0;
        max-width: 1440px;
    }

    .top-text {
        margin: 0 auto 48px;
    }
}

/* =====Section 1 styles===== */

/* =====Section 2 styles===== */
.visually {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px
}


.section-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.section-list-item {
    flex-basis: auto;
}

.icon-container {
    display: none;
}

.personal-qualities {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.main-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .section-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
    }

    .section-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .personal-qualities {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .section-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 112px;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .personal-qualities {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .main-content {
        font-weight: 400;
    }
}

/* =====Section 2 styles===== */

/* =====Section 3 styles===== */
.team-section {
    background-color: #f4f4fd;
}

.text-team {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.text-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.nav-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    text-align: center;
}

.person-list {
    padding: 32px 0;
}

.personal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.main-content-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-team {
    width: 40px;
    height: 40px;
}

.icon-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-team-list:hover,
.icon-team-list:focus {
    background: #404bbf;
}

.team {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .text-team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}

/* =====Section 3 styles===== */

/* =====Section 4 styles===== */
.text-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.content-portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 48px;
}

.content-portfolio-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-portfolio-list:hover {
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-portfolio {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio:hover .overlay-text {
    transform: translateY(0%);
}

.overlay-text {
    color: #f4f4fd;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-portflio {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.link-servis {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.link-app {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .content-portfolio {
        row-gap: 72px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1158px) {
    .content-portfolio {
        row-gap: 48px;
    }
}

/* =====Footer styles===== */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
    margin: 0 auto;
}

.page-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    row-gap: 72px;
}

.footer-container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text-logo-footer {
    color: #f4f4fd;
}

.contant-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.social-icon-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icon-team-item {
    width: 40px;
    height: 40px;
}

.icon-team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover,
.icon-team-link:focus {
    background-color: #31d0aa
}

.footer-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.sent-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.footer-input {
    min-width: 288px;
    min-height: 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding-left: 16px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-text-sent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 165px;
    min-height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sumbit {
    margin-left: 16px;
}

.button-text-sent:hover,
.button-text-sent:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .page-footer .container {
        justify-content: flex-start;
        align-items: start;
        padding: 0 108px;
    }

    .footer-container-logo,
    .social-media,
    .footer-sent {
        align-items: flex-start;
    }

    .footer-container-logo {
        max-width: 264px;
        margin-right: 24px;
    }

    .form-item {
        gap: 24px;
    }

    .footer-input {
        min-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }

    .page-footer.container {
        align-items: baseline;
        padding: 0 15px;
    }

    .footer-container-logo {
        margin-right: 120px;
    }

    .social-media {
        margin-right: 80px;
    }
}

/* =====Footer styles===== */

/* =====Modal styles===== */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modul {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 288px;
    height: 623px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    margin: 0 auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px;
}

/* ****Modal button close***** */

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modul-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

/* ****Modal form**** */
.form {
    width: 256px;
}

.modul-div {
    height: 58px;
    margin-bottom: 8px;
}

.label {
    display: block;
    cursor: default;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modul-box {
    position: relative;
}

.field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:hover,
.field:focus {
    border-color: #4D5AE5;
}

.field:hover+.modul-icon-svg,
.field:focus+.modul-icon-svg {
    fill: #4d5ae5;
}

.modul-icon-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ****Modal comment ***** */

.comment-div {
    margin-bottom: 16px;
}

.textarea-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4)
}

.textarea-text::placeholder {
    color: rgba(64, 64, 64, 0.3);
}

.textarea-text:hover,
.textarea-text:focus {
    border-color: #4D5AE5;
}

/* ****Modal checkbox ***** */

.form-checkbox {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-input:checked+.agreement-text>.agreement-link {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.agreement-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.agreement-link {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.modul-link-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modul-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
}

/* ****Modal button sent***** */

.button-text-modal {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin: auto;
}

.button-text-modal:hover,
.button-text-modal:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .form {
        width: 360px;
    }

    .modul {
        max-width: 408px;
        padding: 72px 24px 24px;
    }
}


@media screen and (min-width: 1158px) {}

/* =====Modal styles===== */

/* =====Mobile menu styles===== */
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999;
        width: 100%;
        height: 100%;
        background: #FFF;
        opacity: 0;
        visibility: hidden;
        transition: opacity 250ms linear, visibility 250ms linear;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }


    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        border: 1px solid #0000001a;
        border-radius: 50%;
        background-color: #ffffff;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        background: #404bbf;
        fill: #ffffff;
    }

    .mobile-menu-list {
        padding-left: 16px;
        padding-top: 72px;
    }

    .mobile-menu-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.02em;
        color: #2e2f42;
        vertical-align: 40px;
        cursor: pointer;
    }

    .mobile-menu-item:hover,
    .mobile-menu-item:focus {
        color: #404bbf;
    }

    .menu-address {
        width: 193px;
        height: 72px;
        margin-top: 168px;
    }

    .mobile-address-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        vertical-align: 24px;
    }

    .mobile-address-link:hover,
    .mobile-address-link:focus {
        color: #404bbf;
    }

    .mobile-icon-list {
        display: flex;
        width: 280px;
        height: 40px;
        margin-top: 48px;
        gap: 40px;
    }

    .icon-team {
        width: 40px;
        height: 40px;
    }

    .icon-team-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .icon-team-list:hover,
    .icon-team-list:focus {
        background: #404bbf;
        ;
    }

    .team {
        fill: #f4f4fd;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* =====Mobile menu styles===== */

/*=====2x retina=====*/
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .top-section {
        background-image: url("../images/hero/people-office@2x.jpg");
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .top-section {
        background-image:
            url("../images/hero/people-office@2x.jpg");
    }
}

/*=====2x retina=====*/