body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 120px 0;
}

/* ****Header***** */

.page-header {
    width: 1440px;
    margin: auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: px;
    align-items: center;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 76px;
}

.text-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-current {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link-current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    border: none;

}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.page-address {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* ****Section 1***** */

.top-section {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/people_office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 600px;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.top-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    max-width: 496px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}

.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
    background: #404bbf;
}

/* ****Section 2***** */

.visually {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section-list-item {
    width: calc((100% - 72px) / 4);
}

.icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.personal-qualities {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.main-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ****Section 3***** */

.team-section {
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 120px;

}


.text-team {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.text-team-list {
    display: flex;
    gap: 24px;
}

.nav-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    max-width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
}

.person-list {
    padding: 32px 0;
}

.personal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.main-content-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-icon {
    padding-top: 8px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.icon-team {
    width: 40px;
    height: 40px;
}

.icon-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon.team-list:hover,
.icon-team-list:focus {
    background-color: #404bbf;
    ;
}

.team {
    fill: #f4f4fd;
}

/* ****Section 4***** */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.content-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.content-portfolio-list {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.page-portflio {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
    text-align: left;
}

.overlay-portfolio {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}

.link-servis {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.link-app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ****Footer***** */


.page-footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.text-logo-footer {
    color: #f4f4fd;

}

.contant-footer {
    color: #f4f4fd;
    text-align: left;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
    height: 112px;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.icon-team-list:hover,
.icon-team-list:focus {
    background-color: #31d0aa
}

.social-icon {
    gap: 16px;
}