body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* ****Header***** */

.page-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 156px;
    align-items: center;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 76px;
}

.text-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.page-address {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* ****Section 1***** */

.top-section {
    background: #2e2f42;
    width: 1440px;
    height: 600px;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.top-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    max-width: 496px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}

.button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    border: none;
}

.button-text:hover,
.button-text:focus {
    background: #404bbf;
}

/* ****Section 2***** */

.visually {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section-list-item {
    width: calc((100% - 72px) / 4);
}

.personal-qualities {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.main-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ****Section 3***** */

.team-section {
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 120px;

}


.text-team {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.text-team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-list {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.person-list {
    padding: 32px 0;
}

.personal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: center;
}

.main-content-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* ****Section 4***** */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.content-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.content-portfolio-list {
    width: calc((100% - 48px) / 3);
}

.page-portflio {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
    text-align: left;
}

.link-servis {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.link-app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ****Footer***** */

.page-footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;


}

.container-footer {
    padding-top: 100px;
    padding-bottom: 156px;
    padding-left: 100px;
    padding-right: 1020px;
}

.page-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.text-logo-footer {
    color: #f4f4fd;

}

.contant-footer {
    color: #f4f4fd;
    text-align: left;
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
    height: 112px;
}